* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes leftIn {
    from {width: 0%;}
    to {width:100%;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to { opacity: 0.1;}
}
body {
    animation: fadeIn 2s ease-in-out;
    margin: 0;
    padding: 0;
    z-index: 9998;
    color: white;
    background-color:rgb(0, 0, 0);
  
    
}
.headers {
    
    position: sticky;
   top: 0px;
   height: 100%;
    z-index: 1111;
    background-color: rgb(137, 130, 130);
}
ul { 
    display: flex;
    justify-content: space-around;
    padding: 0;
}
li {
    list-style: none;
    font-size: 2.5rem;

}

li:hover {
    animation: fadeIn 2s ease-in-out;
    color: linear-gradient(black, white);

    cursor: pointer;
}




dialog {
    animation: leftIn 1s ease-in-out;
    position: sticky;
       right: auto;
       top:5rem;
       width: 15rem;
       max-width: 15rem;
       z-index: 999;
       height: 100%;
       background-color: black;
       color: aliceblue;
       border: solid  gray 1px;
     
}

dialog ul {
    display: grid;
    gap: 2rem;
 
}

dialog a {

    font-size: 60%;
    border: solid transparent;
    background-color: black;
    transition: 0s;
    opacity: 1;
    background-color: transparent;
   
}
dialog li {
   
    line-height: 1.2rem;
    width: fit-content;
}


dialog .cancel {
   border: solid white;
   
}
.research {
   
   border-radius: 5%;
   font-size: 2rem;
  width: 70%;
   border: solid transparent;
}
.search {
    margin: 2rem
}
button {
    padding: 0;
    font-size: 2rem;
    background: black;
    color: aliceblue;
    border-radius: 10%;
}

button:hover {
    transition: 1s;
    opacity: 0.9;
    color: black;
    background-color: rgb(181, 158, 55);
}
.bar { 
   margin: 1em;
    display: flex;
  
    padding: 0;
}

.allStories {
    display: grid;
    padding: 2rem;
    justify-items: center;
    justify-content: center;
  
  width: 100%;
  height: 50%;
   align-items: center;
   word-spacing: .2rem;
   letter-spacing: .2rem;
   gap: 2rem;

    }

  

label {
    display: grid;
    justify-items: center;
   margin: 1rem;
   box-sizing: border-box;
   background-color: rgb(45, 44, 44,0.6);
   width: 100%;
   height: 100%;
   padding: 0;
   border: solid rgb(59, 59, 59,0.8) 3px;
}

label:hover {
    cursor: pointer;
    opacity: 0.7;
}

    img,
    picture, 
    video {
        
        
       
        border: solid rgb(59, 59, 59,0.8) 3px;

    }


img:hover{
    transition: 1s;
    cursor: pointer;
    opacity: 0.3;

}

img {
    width: 140%;
    height: 17rem;
    padding: 0;
    border-radius: 2%;
   
}

.protest-revolution-regular {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  

.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .cinzel-regular {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .marcellus-regular {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
  }

.description {
    display: grid;
    justify-items: center;
    
    padding: 1rem;
    width: 80%;
   
}

span {
   display: grid;
   justify-content: center;
   justify-items: center;
   width: 120%;
  
}

p {
    width: 90%;
}

a {
    text-decoration: none;
    border: solid white 2px;
    border-radius: 20%;
    color: aliceblue;
    width: 100%;
    height:100%;
    font-size: 1.2rem;

}
a:hover {
    transition: 2s;
    opacity: 0.9;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: black;
  

}


.story {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-around;
    

}



.body_story {
    margin: 0;
    padding: 0;
    z-index: 9999;
    color: white;
    background-color:rgb(0, 0, 0);
    line-height: 1.4;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-items: center;

}


.image_story {
    width: 20rem;
    height:15rem;
    margin: 1rem;
}

.p_story {
    width: 85%;
}

.underdevelopment {
    opacity: 0.3;
    cursor: none;
}

.popmaintenance {
    animation: fadeout ease-in-out 2s;
    background-position: center;
    width: 20rem;
    height: 10rem;
    position: relative;
    left: 25rem;
    top: 200%;
    

}
/* ############################################ */




@media screen and (min-width: 1025px) {

    body {
        overflow-x: hidden;
    }
    
    .headers {
    
        position: sticky;
        top: 1rem;
        z-index: 1111;
        background-color: rgb(137, 130, 130);
        
    }
    ul { 
        display: flex;
        justify-content: space-around;
     
        
    }
    li {
        list-style: none;
      font-size: 2.5rem;
    
    }
    
    li:hover {
        animation: fadeIn 2s ease-in-out;
        color: linear-gradient(black, white);
    
        cursor: pointer;
    }
    div .search {
       
        display: flex;
        justify-content: center;
       padding: 0;
       color: aliceblue;
      
    }
.callAction {
    margin: 2rem;
}

dialog {
    animation: leftIn 1s ease-in-out;
    position: sticky;
     top: 0;
     right: auto;
     width: 40rem;
       max-width: 40rem;
       z-index: 999;
       height: 100%;
       background-color: black;
       color: aliceblue;
       border: solid  gray 1px;
     
}

dialog ul {
    display: grid;
    gap: 2rem;
 
}

dialog a {

    font-size: 70%;

    border: solid transparent;
    background-color: black;
    transition: 0s;
    opacity: 1;
    line-height: 2rem;
    background-color: transparent;
   
}
dialog li {
  
    line-height: 2rem;
    width: fit-content;
}


dialog .cancel {
   border: solid white;
   position: sticky;
   
   
}

    
    .research {
       padding: 0;
       border-radius: 5%;
       width: 50%;
       border: solid transparent;

    }
    
    button {
       
       
        border-radius: 10%;
    }
    
    button:hover {
        transition: 1s;
        opacity: 0.9;
        color: black;
        background-color: rgb(181, 158, 55);
    }
    .bar { 
        display: flex;
        width: 35rem;
        padding: 0;
    }
    

.allStories {
    display: flex;
    
   justify-content: space-around;
    flex-wrap: wrap;
  
  width: 100%;
  height: 100%;
   align-items: center;
   word-spacing: .2rem;
   letter-spacing: .2rem;
   
   margin: 0;
   padding: 0;

}

  

label {
    display: flex;
    justify-content: center;
  
    
   box-sizing: border-box;
   background-color: rgb(45, 44, 44,0.6);
   width: 30%;
   height: 100%;
   
}
img,
picture, 
video {
    width: 140%;
    height: 20em;
   

}


img:hover{
transition: 1s;
cursor: pointer;
opacity: 0.3;

}

img {

border-radius: 2%;

}

.satisfy-regular {
font-family: "Satisfy", cursive;
font-weight: 400;
font-style: normal;
}

.cinzel-regular {
font-family: "Cinzel", serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
}

.marcellus-regular {
font-family: "Marcellus", serif;
font-weight: 400;
font-style: normal;
}

.description {
display: grid;
justify-items: center;

padding: 1rem;
width: 70%;

}

span {
  
display: grid;
width: 150%;
}

a {
text-decoration: none;

border-radius: 20%;
color: aliceblue;
width: 100%;
height:100%;
padding: 2%;
}
a:hover {
transition: 2s;
opacity: 0.9;
cursor: pointer;
background-color: rgb(255, 255, 255);
color: black;
animation-duration: 3s;
}

.body_story {
 
    margin: 0;
    padding: 0;
    z-index: 9999;
    color: white;
    background-color:rgb(0, 0, 0);
    line-height: 1.4;
  
}

.story {
  
    margin: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}


.image_story {

    width: 25rem;
    height: 30rem;
   margin: 1rem;
   
}

.p_story {
   height: 50%;
    width: 50%;
    font-size: 1.4rem;

}


}


/* ########################################################### */
/*TABLETS  */




@media (min-width: 768px) and (max-width: 1024px) {

        
    .headers {
    
        position: sticky;
        top: 3rem;
        z-index: 1111;
        background-color: rgb(137, 130, 130);
    }
    ul { 
        display: flex;
        justify-content: space-around;
    }
    li {
        list-style: none;
        font-size: 3rem;
    
    }
    
    li:hover {
        animation: fadeIn 2s ease-in-out;
        color: linear-gradient(black, white);
    
        cursor: pointer;
    }
    div .search {
        margin: 3rem;
        width: 100%;
       padding: 0;
       color: aliceblue;
    }
    
    .research {
       padding: 0;
       border-radius: 5%;
       width: 50%;
       border: solid transparent;
        font-size: 2rem;
       color: white;
    }
    
    button {
       
      
        border-radius: 10%;
        font-size: 2rem;
    }
    
    button:hover {
        transition: 1s;
        opacity: 0.9;
        color: black;
        background-color: rgb(181, 158, 55);
    }
    .bar { 
        display: flex;
        margin: 5rem;
        width: 35rem;
       height: 4rem;
        padding: 0;
    }
    

.allStories {
    display: flex;
    padding: 0;
    margin: 0;
   justify-content: space-evenly;
    flex-wrap: wrap;
  
  width: 100%;
  height: 100%;
   align-items: center;
   word-spacing: .2rem;
   letter-spacing: .2rem;
   gap:  1rem;

}

  

label {
    display: flex;
    justify-content: center;
 
 
  box-sizing: border-box;
   background-color: rgb(45, 44, 44,0.6);
   width: 40%;
   height: 100%;
   
}
img,
picture, 
video {
    
    width: 100%;
    height: 20em;
   

}


img:hover{
transition: 1s;
cursor: pointer;
opacity: 0.3;

}

img {

border-radius: 2%;

}

.satisfy-regular {
font-family: "Satisfy", cursive;
font-weight: 400;
font-style: normal;
}

.cinzel-regular {
font-family: "Cinzel", serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
}

.marcellus-regular {
font-family: "Marcellus", serif;
font-weight: 400;
font-style: normal;
}

.description {
display: grid;
justify-items: center;

padding: 1rem;
width: 80%;

}

span {
display: grid;
font-size: 1.5rem;
}

a {
text-decoration: none;
border: solid white 2px;
border-radius: 20%;
color: aliceblue;
width: 100%;
height:100%;
padding: 2%;
}
a:hover {
transition: 2s;
opacity: 0.9;
cursor: pointer;
background-color: rgb(255, 255, 255);
color: black;
animation-duration: 3s;
}


.story {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-around;
    

}



.body_story {
    margin: 0;
    padding: 0;
    z-index: 9999;
    color: white;
    background-color:rgb(0, 0, 0);
    line-height: 1.4;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-items: center;

}


.image_story {
    width: 70%;
    height: 70%;
}

.p_story {
    width: 80%;
    font-size: 2rem;
}

}


